/ClanClass.class
/ClanClas.class
/Armor.class
/armorPlate.class
/chainmail.class
/cortosisShield.class
/kevlar.class
/ClientClas.class
/Resource.class
/cortosis.class
/crystal.class
/gold.class
/iron.class
/Weapon.class
/lightsaber.class
/m16.class
/mosquete.class
/sword.class
/chainmailclas.class
/kevlarclas.class
/armorPlateclas.class
/cortosisShieldclas.class
/goldclas.class
/ironclas.class
/crystalclas.class
/cortosisclas.class
/cli.class
/Reliquia.class
